/* Navbar.css */

/* Navbar.css */

.navbar-nav .nav-link {
  text-transform: capitalize;
}

.navbar {
  background-color: blue;
  color: white;
  width: 100%;
}

.navbar .form-inline {
  flex-grow: 1;
}

@media (max-width: 575.98px) {
  .navbar .form-inline {
    width: 100%;
    margin-bottom: 1rem;
  }
}
