.navbar {
  background-color: #075985; /* Adjust lime-800 to a similar color */
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff; /* Ensure the text color is white */
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #ccc; /* Lighter color on hover for better visibility */
}
